.grid2{
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: repeat(3, 30%);
    text-align: center;
    align-self: center;
  }
  .square{
    background-color: transparent;
    border: 1px solid rgb(236, 228, 228);
    padding: 10px;
    font-size: 1.5rem;
    text-align: center;
    height: 50px;
  }
  
  .grid3{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 20px;
    margin-left: -200px;
  }
  
  .left-panel{
    width: 300px;
    align-items: center;
    justify-content: center;
  }
  
  .Cohete{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin:0px
  }
  
  .rocket-update > div{
    color: black;
  }
  .rocket-update > h2{
    color: black;
  }
  .board:hover{
    cursor: url('../../assets/icono.jpg'), crosshair;
    
  }
  
  .row {
    display: flex;
    flex-direction: row;
    width: 100%;
    
  }
  
  .rocket-update {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 45%;
    color: black;
    background-color: rgb(236, 238, 239);
    border-radius: 10px;
    padding:15px;
    
  }
  
  .cell {
    flex: 1;
    height: 7vw;
    width: 7vw;
    border: 1px solid rgb(245, 242, 242);
    /* border: none */
  }